/** HEADER NAVBAR **/
#header-nav {
  background-color: #3f4548;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Food LLC */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  font-family: Gill Sans, sans-serif;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* navbar collapseable menu */
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
  font-family: Gill Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#nav-list a:hover {
  background: #969191;
}

/* Module 2solution content  */
.chicken p,
.beef p,
.sushi p {
    color: black;
    font-size: 20px;
    margin: 5px 0 0 0;
    font-family: Gill Sans, sans-serif;
}

h1.reg-title {
    font-size: 36px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: Gill Sans, sans-serif;
}
.mobile-title {
    display:none;
}
.chicken h2.mobile-desc,
.beef h2.mobile-desc,
.sushi h2.mobile-desc {
    display: none;
}


/* keeps all 3 sections in line  */
* {
  box-sizing: border-box;
}
/* each section*/
.chicken,
.beef,
.sushi {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #d3d3d3;

    /* height: 700px; */
}

.chicken h3,
.beef h3,
.sushi h3 {
    margin-top: 10px;
    margin-bottom: 20px;

    font-family: Gill Sans, sans-serif;
    color: black;
    font-weight: bold;
}